.picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container {
    align-items: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 900
}

img {
    width: 50vw;
}
