html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.bg1 {
    background: url(wedding_bg.jpg) no-repeat center center fixed;
}

.bg2 {
    background: url(wedd1.jpeg) no-repeat center center fixed;
}

.picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
body{
  background-color: white;
  background-image: url("wedding_bg.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    position:scroll;
    top:0;
    bottom:0;
    left:0;
    right:0;
}*/


h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 900
}

img {
    width: 30%;
}
