.picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container {
    align-items: center;
}

body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;

  background-color: white;
  background-image: url("wedding_bg.jpg"); 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 900
}

img {
    width: 50vw;
}
